h1{
    color: brown;
    text-align: center;
}
body{
    background-color: bisque;
}
h2{
    color: olive;
    text-align: center;
}
p{
    color: black;
    font-size: large;
    text-align: center;
}
