* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-image: url('https://motionbgs.com/dl/gif/1397');
    background-size: cover;
    background-position: center;
  }
  
  .container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #fff;
  }
  
  .dark-mode-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode header h1 {
    color: #fff;
  }
  
  .dark-mode h2, .dark-mode ul li {
    color: #fff;
  }
  
  .dark-mode .profile-img {
    border: 3px solid #fff;
  }
  